body {
  margin: 0;
  height: 100vh;
  font-family: "Muli", "Open Sans", Arial;
  color: #5b5b5b;
  font-size: 18px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  box-shadow: 0 2px 10px #ccc;
}

.brand-name {
  text-decoration: none;
}

.brand-name h1 {
  color: #816e6e;
}

h1,
h2 {
  color: #444;
}

h1 {
  font-size: 18px;
  margin: 0;
}

.green-text {
  color: #68b246;
}

.demo-link {
  color: #fff;
  background-color: #68b246;
  border: 1px #68b246 solid;
  line-height: 1.2rem;
  text-decoration: none;
  text-align: center;
  padding: 0.7rem 1.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: 18px;
}

.demo-link:hover {
  color: #68b246;
  background-color: #fff;
}

main {
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 2rem 4rem;
}

.banner-container {
  width: 50%;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.screenshot-container {
  width: 80%;
  margin: 1rem auto;
  padding: 2rem;
  box-shadow: 10px 10px 20px #ccc;
  border-radius: 15px;
}

.screenshot-container > img {
  max-width: 100%;
}

.presentation-container {
  width: 50%;
  padding: 2rem 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 3em;
  margin: 1.7rem 0;
}

p {
  margin: 0.2rem 0;
}

.presentation-container .demo-link {
  margin: 2rem 0 0.5rem;
}

.features-container {
  width: 100%;
  padding: 3rem 0 1rem;
  background-color: #68b246;
  color: #fff;
}

.features-container h2 {
  text-align: center;
  color: #fff;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

ul > li {
  width: 33.33333%;
  text-align: center;
  padding: 1rem 3rem;
  box-sizing: border-box;
}

ul > li > i {
  font-size: 2.5rem;
}

h3 {
  font-size: 24px;
}

footer {
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;
}

.github-link {
  font-size: 1.5rem;
  color: rgba(91, 91, 91, 0.5);
  width: 1.5rem;
}

.github-link:hover {
  color: #5b5b5b;
}

.about-link {
  font-size: 1rem;
  text-decoration: none;
  color: #5b5b5b;
}

.about-link:hover {
  text-decoration: underline;
}
